name: "build"

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@v5.1.0
        with:
          distribution: 'adopt'
          java-version: '14'
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          architecture: 'x64'
      - name: Test Kotlin
        run: |
          cd DB
          chmod +x init.sh
          ./init.sh
          docker compose up &
          ./gradlew --stacktrace --scan
